/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


body{
    background-color: #abdfea;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #abdfea;
    font-family: 'Rozha One';
    font-size: 1.3em;
}
a {
    text-decoration: none;
    color: black;
}
.navbar img {
    padding-left: 3em;
    height: 110%;
}

.navbarLogRegCust{
    display: flex;
    list-style: none;
    margin-right: 10em;
}

.navbarLogRegCust li{
    padding-left: 1em;
}


/* Home (not logged in) */

.home{
    height: 100vh;
    background-color: #abdfea;
    font-family: 'Rozha One';
}

.home h1{
    font-size: 2em;
    font-style: bold;
}

.home h2{
    font-size: 1.5em;
}

.home img{
    height: 100%;
}

#splashscreen{
    display: flex;
    align-items: center;
    background-color: #abdfea;
}

#restaurantLogReg ul {
    display: flex;
    list-style: none;
}

#restaurantLogReg  {
    background-color: #abdfea;
    
}

#restaurantLogReg img{
    height: 100px;
}


.picRestaurantLogReg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#restaurantLogReg  ul{
   justify-content: center;
}

#restaurantLogReg  li{
    padding-right: 6em;
    padding-bottom: 2em;

}

/* Log in customer */

.form_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.form_container img{
    height: 20px;
}

.imgLoginCust{
    display: flex;
    align-items: center;
}

.form_container label {
    margin: 1em;
}
.form_container input{
    width: 150%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
    
}

.form_container input:focus{
    background-color: #abdfea;
    outline: none;
    border-bottom:  2px solid black ;
    text-align: center;
}

.loginCust, .loginRest {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    padding-right: 10em;
    font-family: 'Rozha One';
    font-size: 1.3em;
}

.loginCust button{
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

/* Register customer */

.inputLabelRegCust{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.formRegCust {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    font-family: 'Rozha One';
    font-size: 1.3em;
    height: 100vh;
    padding-right: 10em;
}

.formRegCust input{
    width: 150%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
}


.formRegCust input:focus{
    background-color: #abdfea;
    border-bottom:  2px solid black ;
    outline: none;
    text-align: center;
}

.formRegCust button {
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

.formRegCust label {
    margin: 0.6em;
}

/* Home customer*/

.deliveringAddress{
    text-align: center;
}

.searchRestaurant{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchRestaurant input {
    height: 3em;
    width: 30%;
    border-radius: 5em;
    text-align: center;
    margin-bottom: 1em;
}

.filters{
    display: flex;
    flex-direction: column;
}

.filters button{
    width: 50%;
    margin-bottom: 1em;
}

.filteredBy{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1em;
}

.gridHomeCust1{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.gridHomeCust2{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}

.gridHomeCust3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* Rest Login */


.loginRest button{
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

/*Register restaurant*/

.inputLabelRegRest{
    display: grid;
    grid-template-columns: 0.5fr 1.25fr 1.25fr;
    column-gap: 3em;
    width: 80%;
    align-items: center;
    margin: 50px ;
}

.inputLabelRegRest img{
    height: 250px;
}

.inputLabelRegRest input{
    width: 4px;
}

.formRegRest{
    font-family: 'Rozha One';
    font-size: 1em;
    height: 100vh;
    text-align: center;
}

.formRegRest input{
    width: 100%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
}

.formRegRest input:focus{
    background-color: #abdfea;
    border-bottom:  2px solid black ;
    outline: none;
    text-align: center;
}

.formRegRest button {
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

.formRegRest label {
    margin: 1em;
}

.secondInputRegRest input{
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.firstInputRegRest input{
    padding-bottom: 0.7em;
    margin-bottom: 0.7em;
}

#selectedFilters{
    display: flex;
    align-items: center;
    justify-content: center;
}
#crossFilter{
    color: red;
    font-style: bold;
}

.filterRegRest button{
    padding-right: 1em;
}

/* Home Cust */

.iconosNavbar button img{
    height: 2px;
}





