/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');


/* body{
    background-color: #abdfea;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #abdfea;
    font-family: 'Rozha One';
    font-size: 1.3em;
}
.navbarLoggedIn{
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.navbarUserLogged{
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.navbarUserLogged li {
    margin-left: 0.5em;
}
a {
    text-decoration: none;
    color: black;
}
.navbar img {
    padding-left: 3em;
    height: 100%;
}

.navbarLogRegCust{
    display: flex;
    list-style: none;
    margin-right: 10em;
}

.navbarLogRegCust li{
    padding-left: 1em;
}

.navbar button, .navbarLoggedIn button{
    font-family: 'Rozha One';
    font-family: 'Rozha One';
    border-radius: 1em;
    border: none;
    background-color: #83d9ea;
    color: white;

}

.navbar button:hover, .navbarLoggedIn button:hover{
    background-color: white;
    color: black;
}


/* Home (not logged in) */

.home{
    height: 100vh;
    font-family: 'Rozha One';
}

.home h1{
    font-size: 2em;
    font-style: bold;
}

.home h2{
    font-size: 1.5em;
}

.home img{
    height: 100%;
}

#splashscreen{
    display: flex;
    align-items: center;
    background-color: #abdfea;
}

#restaurantLogReg ul {
    display: flex;
    list-style: none;
}

#restaurantLogReg  {
    background-color: #abdfea;
    
}

#restaurantLogReg img{
    height: 100px;
}


.picRestaurantLogReg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#restaurantLogReg  ul{
   justify-content: center;
}

#restaurantLogReg  li{
    padding-right: 6em;
    padding-bottom: 2em;

}

/* Log in customer */

.form_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.form_container img{
    height: 20px;
}

.imgLoginCust{
    display: flex;
    align-items: center;
}

.form_container label {
    margin: 1em;
}
.form_container input{
    width: 150%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
    
}

.form_container input:focus{
    background-color: #abdfea;
    outline: none;
    border-bottom:  2px solid black ;
    text-align: center;
}

.loginCust, .loginRest {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    padding-right: 10em;
    font-family: 'Rozha One';
    font-size: 1.3em;
    background-color: #abdfea ;
}

.loginCust button{
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

/* Register customer */

.inputLabelRegCust{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.formRegCust {
    display: flex;
    align-items: center;
    justify-content: space-around ;
    font-family: 'Rozha One';
    font-size: 1.3em;
    height: 100vh;
    padding-right: 10em;
    background-color: #abdfea;
}

.formRegCust input{
    width: 150%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
}


.formRegCust input:focus{
    background-color: #abdfea;
    border-bottom:  2px solid black ;
    outline: none;
    text-align: center;
}

.formRegCust button {
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

.formRegCust label {
    margin: 0.6em;
}

/* Home customer*/


#homeCustAll{
    background-color: white;
}
.deliveringAddress{
    text-align: center;
}

.searchRestaurant{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchRestaurant input {
    height: 3em;
    width: 50%;
    border-radius: 5em;
    text-align: center;
    margin-bottom: 1em;
    background-color: white;
    border: solid gray thin;
    outline: white;
    color: black;
    font-family: 'Rozha One' ;
}

.searchRestaurant input:hover{
    background-color:#abdfea ;
    border:none;
}

.filters{
    display: flex;
    flex-direction: column;
}

.filters button{
    width: 50%;
    margin-bottom: 1em;
    border: none;
    border-radius: 1em;
    background-color: white;
    border: solid gray thin;
    font-family: 'Rozha One'
}

.filters button:hover{
    background-color:#abdfea ;
    border: none;
}

.filters button:disabled{
    background-color: rgb(214, 61, 61);
}

.filteredBy{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1em;
}
.filteredBy button{
    margin-bottom: 1em;
    border: none;
    border-radius: 1em;
    background-color: rgb(145, 192, 74);
    font-family: 'Rozha One'
}

.selectorRestFood button{
    margin-bottom: 1em;
    border: none;
    border-radius: 1em;
    background-color: white;
    font-family: 'Rozha One'
}
.selectorRestFood button:hover{
    background-color:#abdfea ;
    border: none;

}

.selectorRestFood button:disabled{
    background-color: rgb(153, 188, 100);
}

.gridHomeCust1{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.gridHomeCust2{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    column-gap: 3em;
    row-gap: 3em;
}

.gridHomeCust3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2em;
}

.iconosNavbar button img{
    height: 2px;
}

.restDisplay{
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white
}

.restDisplay:hover{
    background-color:#abdfea ;
    border: none;
}

.restDisplay h2{
    font-size: 2em;
}

.restDisplay h3{
    font-size: 1em;
    color: rgb(88, 86, 86);
}

.displayDishesSearch{
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white
}

.displayDishesSearch:hover{
    background-color:#abdfea ;
    border: none;
}


/* Rest Login */


.loginRest button{
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

/*Register restaurant*/

.inputLabelRegRest{
    display: grid;
    grid-template-columns: 0.5fr 1.25fr 1.25fr;
    column-gap: 3em;
    width: 80%;
    align-items: center;
    margin: 0px 50px 50px 50px ;
    background-color: #abdfea;
    padding-top: 4em;
}

.inputLabelRegRest img{
    height: 250px;
}

.inputLabelRegRest input{
    width: 4px;
}

.formRegRest{
    font-family: 'Rozha One';
    font-size: 1em;
    height: 100vh;
    text-align: center;
    background-color: #abdfea;
}
.sectionFiltersRegRest{
    background-color: #abdfea; 
}

.formRegRest input{
    width: 100%;
    background-color: #abdfea;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    border-bottom-color: black ;
}

.formRegRest input:focus{
    background-color: #abdfea;
    border-bottom:  2px solid black ;
    outline: none;
    text-align: center;
}

.formRegRest button {
    border-radius:  0.5em;
    width: 100px;
    height: 40px;
    font-family: 'Rozha One';
    background-color: #abdfea;
    border-color: #258599;
    margin-top: 2em;
}

.formRegRest label {
    margin: 1em;
}

.secondInputRegRest input{
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.firstInputRegRest input{
    padding-bottom: 0.7em;
    margin-bottom: 0.7em;
}

#selectedFilters{
    display: flex;
    align-items: center;
    justify-content: center;
}
#crossFilter{
    color: red;
    font-style: bold;
}

.filterRegRest button{
    padding-right: 1em;
}

/* Modal info Cust */

.formInfoCust{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1em;
    font-family: 'Rozha One';
}

.infoCust, .infoCust button, .infoCust input{
    font-family: 'Rozha One';
}
.infoCust button{
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white;
}

.infoCust button:hover{
    background-color:#abdfea ;
    border: none;
}

.infoCust label{
    color: rgb(169, 167, 167);
}

.infoCust input,p{
    color:gray;
}

/* order Modal */

.order{
    display: flex;
    justify-content: space-around;
    font-family: 'Rozha One';
    font-size: 0.7em;
    border: thin gray solid;
    border-radius: 1em;
    margin-bottom: 2em;
    width: 40%;
}

.titleHistoricalOrders{
    font-family: 'Rozha One';
}

.order:hover{
    border: rgb(89, 190, 223) solid;
}

.historicalOrders button{
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white
}

.historicalOrders button:hover{
    background-color:#abdfea ;
    border: none;
}

/* change password */

.changePassword{
    font-family: 'Rozha One';
}

.changePassword input{
    width: 20%;
    border: rgb(192, 187, 187) thin solid;
    border-radius: 0.5em;
    margin-left: 1em;
}
.changePassword button{
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white;
    font-family: 'Rozha One';
}

.changePassword button:hover{
    background-color:#abdfea ;
    border: none;
}

.changePassword label{
    color: gray;
}

.gridChangePass{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
    padding: 3em 0;
}

/* cart Modal */

.itemInCart{
    font-size: 0.7em;
    margin-right: 1em;
}

.cart{
    font-family: 'Rozha One';
}

.cart button{
    margin-right: 2em;
    font-family: 'Rozha One';
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white
}

.cart button:hover{
    background-color:#abdfea ;
    border: none;
}

.itemFlex{
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttonOrder{
    margin-top: 5em;
    width: 30%;
    font-family: 'Rozha One';
    text-align: center;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white
}

.buttonOrder:hover{
    background-color:#abdfea ;
    border: none; 
}

/* restaurant page */

.restaurantDishes{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    margin-left: 17em;
    margin-right: 17em;
    padding-bottom: 3em;
}

.restaurantDishes button{
    font-family: 'Rozha One';
    text-align: center;
    border: solid thin gray;
    background-color: white
}

.restaurantDishes button:hover{
    background-color:#abdfea ;
    border: none; 
}

.restaurantPage{
    font-family: 'Rozha One';
    text-align: center;
}

.categoryDishRestaurant{
    border: solid thin rgb(46, 159, 181);
    margin-left: 6em;
    margin-right: 6em;
}

.dishInRestaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dishInRestaurant img{
    width: 100px;
}

.infoRestDishes{
   text-align: start;
}

.infoRestDishes h2{
    font-size: 2em;
 }

 .infoRestDishes h3{
    font-size: 1em;
 }


 /* modal add a dish to cart */

/* restaurant View Home */

.dishesInCategoryRest img{
    width: 150px;
}







