/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #abdfea;
}

.navbarLogRegCust{
    display: flex;
    list-style: none;
    margin-right: 10em;
}

.navbarLogRegCust li{
    padding-left: 1em;
}


/* Home (not logged in) */

.home{
    height: 100vh;
    background-color: #abdfea;

}

.home img{
    height: 100%;
}



